<div class="sides">
    <div class=" container-fluid ">
        <div class="left-side">
            <div class="side-content">
                <a href="https://www.facebook.com/ItemBridge"> Facebook </a>
                <a href="https://twitter.com/Itembridge"> Twitter </a>
                <a href="https://instagram.com/itembridge/"> Instagram </a>
                <a href="https://www.behance.net/itembridge"> Behance </a>
            </div>
        </div>

        <div class="right-side">
            <div class="side-content">
                <p class="copyright">
                    © 2021 alessandro oncini </p>
            </div>
        </div>
    </div>
</div> <!-- sides -->