<div class="sides">
    <div class=" container-fluid ">
        <div class="left-side">
            <div class="side-content">
                <a href="https://www.facebook.com/opetre"> facebook </a>
                <a href="https://twitter.com/opetre"> twitter </a>
                <a href="https://instagram.com/opetre/"> instagram </a>
                <a href="https://www.behance.net/opetre"> behance </a>
            </div>
        </div>

        <div class="right-side">
            <div class="side-content">
                <p class="copyright">
                    © 2021 alessandro oncini </p>
            </div>
        </div>
    </div>
</div> <!-- sides -->